

.tower {
	background-color: gray;
	width: 150px;
	float: left;
	position: relative;
	vertical-align: bottom;
	padding-top: 40px;
}

.spot {
	clear: left;
	bottom: 0;
	left: auto;
	width: 150px;
	height: 25px;
	margin: 0 auto;
}

.big-disk{
	width: 120px;
	background-color: red;
}

.medium-disk{
	width: 70px;
	background-color: blue;
}

.small-disk{
	width: 40px;
	background-color: green;
}