<div id="secrets-list"></div>
<div id="secret-form">
  <input type="text" id="secret-text-field"></input>
  <button id="submit-secret">Submit!</button>
</div>

<script type="text/javascript">
  $(function () {
    var secretsListEl = $('#secrets-list');
    var secretsView = new SS.SecretsView(secretsListEl);

    var secretTextFieldEl = $('#secret-text-field');
    var submitButtonEl = $('#submit-secret');
    var secretFormView = new SS.SecretFormView(
      secretTextFieldEl,
      submitButtonEl,
      function (newSecret) {
        newSecret.save();
      }
    )
    secretFormView.bind();

    // kick off initial fetch; SecretsView will then load and display
    // the new secrets.
    SS.Secret.fetchAll();
  });
</script>
