// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sidebar, #content {
	float: left;
}

#sidebar {
	width: 20%;
	height: 100%;
}

#content {
	width: 80%;
	height: 100%;
}